.puzzle-div {
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 50rem;
  border: 1px solid white;
}

.puzzle-row {
  display: flex;
  flex-direction: row;
}

.puzzle-row-word,
.source-field-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border: 1px solid white;
}

.source-field {
  display: flex;
  flex-direction: row;
  width: 75rem;
  border: 1px solid white;
}

.source-field-word:hover {
  background-color: #db9cb1;
  color: #1c1a42;
  cursor: pointer;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body .puzzle-div,
body .source-field {
  font-size: 3rem;
}
