.puzzle-div {
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 50rem;
  border: 1px solid white;
  background-color: #fff3cb;
  border-radius: 0.5rem;
}

.puzzle-row {
  display: flex;
  flex-direction: row;
}

.source-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.next {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #5163a2;
  border-radius: 0.5rem;
  color: #fff;
  width: 20rem;
  font-size: 2rem;
}

.next.hidden {
  display: none;
}

.filled-row {
  pointer-events: none;
}

.puzzle-row-word,
.source-field-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border: 1px solid white;
  background-color: #a395c0;
  color: #1c1a42;
}

.source-field {
  display: flex;
  flex-direction: row;
  width: 75rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: #fff3cb;
}

.source-field-word:hover {
  background-color: #db9cb1;
  color: #1c1a42;
  cursor: pointer;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body .puzzle-div,
body .source-field {
  font-size: 3rem;
}
