/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-400 and inter-600 italic*/
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: local("Inter"),
    url("https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: local("Inter"),
    url("https://fonts.cdnfonts.com/s/19795/Inter-SemiBoldItalic.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e1d4c9;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}

.adaptive {
  display: flex;
  max-width: 144rem;
  width: 100%;
  margin: auto;
  padding: 2rem 4rem 4rem 4rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e1d4c9;
  color: #403f3d;
  line-height: 150%;
}

a {
  color: #403f3d;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.logo {
  max-width: 10rem;
  max-height: 6rem;
  z-index: 11;
}
svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.non-active {
  pointer-events: none;
}
nav {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: center;
}
ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
ul:first-child {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item:link {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.menu-item::after {
  content: "";
  display: block;
  height: 0.2rem;
  left: 50%;
  position: absolute;
  background: #403f3d;
  transition: width 0.7s ease 0s, left 0.7s ease 0s, opacity 0.7s ease 0s;
  width: 0;
  opacity: 0;
}

.menu-item:visited {
  color: #403f3d;
}
.menu-item-non-active a {
  color: #403f3d;
  pointer-events: none;
}
.coffee-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 2.8rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-right: 5px;
}
.coffee-menu svg {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  fill: none;
  stroke: #403f3d;
}
.link,
.link-contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.line {
  width: 7.2rem;
  height: 0.2rem;
  background: #403f3d;
}
main {
  width: 100%;
  max-width: 144rem;
}
.enjoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.enjoy-container {
  display: flex;
  position: relative;
  max-width: 136rem;
  max-height: 64.4rem;
  padding: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4rem;
}
.enjoy-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  object-fit: cover;
}
.offer {
  display: flex;
  max-width: 53rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  z-index: 1;
}
h1 {
  align-self: stretch;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
}
h1 .accent {
  font-style: italic;
  color: #b0907a;
}
h4 {
  align-self: stretch;
  color: #e1d4c9;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
}
.offer h4 {
  text-align: left;
}

.button-primary {
  display: inline-block;
  width: 20rem;
  height: 6.4rem;
  gap: 0.8rem;
  border-radius: 10rem;
  background: #e1d4c9;
  border-width: 0;
}
.button-primary a {
  height: 100%;
  color: #403f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
}
.button-primary p {
  margin-left: 2rem;
  transition: transform 0.7s;
}
.button-primary a svg {
  fill: none;
  stroke: #403f3d;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
h2 .accent {
  font-style: italic;
  color: #b0907a;
}
h2 {
  align-self: stretch;
  color: #403f3d;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
}
.favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin: 10rem 0;
}
.favorite-coffee > .container {
  display: flex;
  max-width: 136rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}
.slideshow {
  display: flex;
  width: 100%;
  max-width: 136rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.slider {
  display: flex;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}
.slider > #arrow-left {
  margin-left: 0.4rem;
}

.slider > #arrow-right {
  margin-right: 0.4rem;
}

.button-icon-dark {
  flex-shrink: 0;
  display: flex;
  align-self: center;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  border: 0.1rem solid #665f55;
  background-color: #e1d4c9;
  stroke: #665f55;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}

.row-slider {
  display: flex;
  max-width: 115.2rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}
.slide {
  display: flex;
  max-width: 115.2rem;
  flex-direction: column;
  align-items: center;
}
.content img {
  max-width: 480px;
}
.hidden {
  display: none;
}
.content {
  display: flex;
  max-width: 48rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.description {
  display: flex;
  max-width: 48rem;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  align-self: center;
}
h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  align-self: stretch;
  text-align: center;
}
.description h4 {
  color: #403f3d;
  text-align: center;
}
.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}
.control {
  width: 4rem;
  height: 0.4rem;
  border-radius: 10rem;
  background: #c1b6ad;
}
.active {
  /* width: 0%;
  height: 100%; */
  border-radius: 10rem;
  /* background: #665f55; */
}
.fill {
  width: 0%;
  height: 100%;
  background: #665f55;
}
.control.active .fill {
  /* transition: all 5s; */
  animation-name: fill;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  /* width: 100%; */
}
.control.rotated .fill {
  transition: all 0.7s;
  animation-name: rotated;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  width: 0%;
}
@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes rotated {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
  margin-bottom: 10rem;
}

.about h2 {
  text-align: left;
}
.images {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2rem;
}
#about-1 {
  aspect-ratio: 66/59;
}
#about-2 {
  aspect-ratio: 66/43;
}
#about-3 {
  aspect-ratio: 66/43;
}
#about-4 {
  aspect-ratio: 66/59;
}
.box > img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.box img {
  transition: transform 0.7s;
  transform: scale(1.1);
}

.mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-bottom: 10rem;
}

.mobile .offer {
  max-width: 63rem;
  justify-content: stretch;
}
.mobile .offer h4 {
  color: #403f3d;
}
.mobile .offer h2 {
  text-align: left;
}
.mobile-screens {
  display: flex;
  align-self: center;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.mobile-screens img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.buttons {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.button {
  display: flex;
  width: 20rem;
  padding: 1.2rem 2rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 10rem;
  border: 0.1rem solid #665f55;
  background-color: #e1d4c9;
  fill: #403f3d;
  transition: 0.7s background-color, 0.7s fill;
}

.button-span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}
.button-span span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
}
.button-span .lc {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #665f55;
  width: 100%;
  padding: 10rem;
  gap: 10rem;
  border-radius: 4rem;
}

h2 span {
  align-self: flex-start;
  color: #e1d4c9;
}
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.button-icon-light {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  stroke: #c1b6ad;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  flex: 1 0 0;
}
.contacts-info h3 {
  color: #e1d4c9;
  align-self: flex-start;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}
.link-item {
  position: relative;
  gap: 0.4rem;
  background-color: #665f55;
  stroke: #e1d4c9;
  fill: #665f55;
}
.link-item a {
  text-decoration: none;
  color: #e1d4c9;
  font-size: 1.6rem;
}
.link-item::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -0.4rem;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #e1d4c9;
  transform: translateX(-50%);
}
.link-item::after {
  width: 0;
  transition: 0.7s;
}
.offer h2 span {
  text-align: left;
}
/*MENU PAGE STYLE*/
body .menu {
  gap: 4rem;
}
.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
  margin-bottom: 10rem;
}

.menu .offer {
  max-width: 80rem;
  width: 100%;
  align-items: center;
}
.menu .offer h1 {
  align-self: center;
  color: #403f3d;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
}
.offer h1 .accent {
  font-style: italic;
  color: #b0907a;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.tab-item {
  display: flex;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  background: #e1d4c9;
  border: 0.1rem solid #c1b6ad;
}
.round-tab {
  border-radius: 10rem;
  background: #c1b6ad;
  display: flex;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.tab-item img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-item-active {
  pointer-events: none;
  background: #665f55;
  color: #e1d4c9;
}

.item-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 31rem);
  grid-template-rows: repeat(auto-fill, 50.6rem);
  grid-auto-rows: auto;
  gap: 4rem;
  row-gap: 4rem;
}
.item-card {
  cursor: pointer;
  position: relative;
  height: 506px;
  border-radius: 4rem;
  border: 0.1rem solid #c1b6ad;
}
.item-box {
  width: clamp(20rem, 100%, 31rem);
  flex-shrink: 0;
  border-radius: 4rem;
  overflow: hidden;
}
.item-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: transform 0.7s;
  transform: scale(1.1);
}

.item-description {
  max-height: 15.6rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.item-description .price {
  position: absolute;
  text-align: left;
  bottom: 2rem;
}
.item-title h3 {
  text-align: left;
}
.item-title h4 {
  text-align: left;
  color: #403f3d;
}
.item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}
.burger-menu {
  display: none;
}
.button-refresh {
  display: none;
}
.refresh {
  width: 6rem;
  height: 6rem;
  background-color: #e1d4c9;
  border-radius: 10rem;
  border: 1px solid #665f55;
}
.refresh svg {
  fill: none;
  stroke: #403f3d;
}
.smooth-appear {
  opacity: 0;
  animation: 1s linear 0s 1 forwards appeared;
}
@keyframes appeared {
  to {
    opacity: 1;
  }
}
