* {
  /* border: 3px solid red; */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-400 and inter-600 italic*/
@import url("https://fonts.cdnfonts.com/css/inter?styles=29134,29141");

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  display: flex;
  width: 1440px;
  margin: auto;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: var(--background-body, #e1d4c9);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.logo {
  width: 100px;
  height: 60px;
}
.non-active {
  pointer-events: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
  flex: 1 0 0;
  align-self: stretch;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style: none;
}
ul:first-child {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: var(--text-dark, #403f3d);
  display: inline-block;
  position: relative;
}
a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #403f3d;
  transition: width 0.5s ease 0s, left 0.5s ease 0s, opacity 0.5s ease 0s;
  width: 0;
  opacity: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}
a:visited {
  color: var(--text-dark, #403f3d);
}
.coffee-menu {
  display: flex;
  height: 28px;
  justify-content: flex-end;
  align-items: center;
}
.coffee-menu img {
  vertical-align: middle;
}
.enjoy {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.enjoy-container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  overflow: hidden;
  background: url(/img/img-hero1.png), lightgray 50% / cover no-repeat;
  background-size: cover;
}

.offer {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
h1 {
  margin: 0;
  align-self: stretch;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: var(--text-light, #e1d4c9);
}
h1 .accent {
  font-style: italic;
  color: var(--text-accent, #b0907a);
}
h4 {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  text-align: justify;
}
.favorite-coffee {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 100px;
}
.favorite-coffee .container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding: 0;
}
.button-primary {
  cursor: pointer;
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.hidden-cup {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.button-primary:hover > .hidden-cup {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  transition: 0.7s opacity, 0.7s visibility, 0.7s overflow;
}
h2 .accent {
  font-style: italic;
  color: var(--text-accent, #b0907a);
}
h2 {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.slideshow {
  /* position: relative; */
  display: flex;
  width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.button-icon-dark {
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-self: center;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  background-color: #e1d4c9;
  stroke: #665f55;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}
.button-icon-dark:hover {
  background-color: #665f55;
  stroke: #e1d4c9;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}
.row-slider {
  display: flex;
  min-width: 480px;
  max-width: 1152px;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
}
.slide {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
}
.slide img {
  width: 480px;
  height: 480px;
}
#slide-2,
#slide-3 {
  display: none;
}
.content {
  display: flex;
  width: 480px;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.description {
  display: flex;
  width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: center;
}
h3 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  align-self: stretch;
  text-align: center;
  margin: 0;
}
.description h4 {
  color: var(--text-dark, #403f3d);
  text-align: center;
}
.controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.control {
  cursor: pointer;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
}
.active {
  border-radius: 100px;
  background: var(--border-dark, #665f55);
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.about .container {
  max-width: 1360px;
  padding: 0 40px;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  align-self: stretch;
}
.about .container h2 {
  text-align: justify;
}
.images {
  display: flex;
  max-width: 1360px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
#about-1 {
  max-width: 660px;
  height: 590px;
}
#about-2 {
  max-width: 660px;
  max-height: 430px;
}
#about-3 {
  max-width: 660px;
  max-height: 430px;
}
#about-4 {
  max-width: 660px;
  height: 590px;
}
.box + img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.box img {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.box:hover img {
  transform: scale(1);
}
.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}
.mobile .container {
  flex-direction: row;
  max-width: 1360px;
  gap: 100px;
  flex: 1 0 0;
}
.container .offer {
  width: 630px;
  justify-content: stretch;
  flex: 1 0 0;
}
.mobile .offer h4 {
  color: var(--text-dark, #403f3d);
}
.mobile .offer h2 {
  text-align: left;
}
.mobile-screens {
  display: flex;
  width: 630px;
  height: 630px;
  background: #e1d4c9;
  background: url(/img/mobile-screens.png), lightgray 50% / cover no-repeat;
}
.buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.button {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  background-color: #e1d4c9;
  stroke: #665f55;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}
.button:hover {
  background-color: #665f55;
  stroke: #e1d4c9;
  fill: #e1d4c9;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill, 0.7s color;
  color: #e1d4c9;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0 40px;
}
footer .container {
  flex-direction: row;
  max-width: 1360px;
  padding: 100px;
  gap: 100px;
  border-radius: 40px;
  background: var(--background-container, #665f55);
}
h2 span {
  align-self: flex-start;
  color: var(--text-light, #e1d4c9);
}
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.button-icon-light {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  stroke: #c1b6ad;
  fill: #665f55;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill;
}
.button-icon-light:hover {
  background-color: #e1d4c9;
  stroke: #403f3d;
  fill: #e1d4c9;
  transition: 0.7s background-color, 0.7s stroke, 0.7s fill, 0.7s color;
  color: #403f3d;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.contacts-info h3 {
  color: var(--text-light, #e1d4c9);
  align-self: flex-start;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-color: #665f55;
  stroke: #e1d4c9;
  fill: #665f55;
}
.link-item a {
  color: var(--text-light, #e1d4c9);
}
.link-item a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e1d4c9;
  transition: width 0.5s ease 0s, left 0.5s ease 0s, opacity 0.5s ease 0s;
  width: 0;
  opacity: 0;
}
.link-item a:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}
body .menu {
  gap: 40px;
}
.menu {
  display: flex;
  padding: 20px 40px 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.menu .container {
  width: 1360px;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.menu .container .offer {
  width: 100%;
  align-items: center;
}
.menu .container .offer h2 {
  width: 800px;
  align-self: center;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark, #403f3d);
  background: var(--background-body, #e1d4c9);
  border: 1px solid var(--border-light, #c1b6ad);
}
.round-tab {
  border-radius: 100px;
  background: #c1b6ad;
  display: flex;
  overflow: hidden;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.tab-item img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-item-active {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.tab-item:hover {
  cursor: pointer;
  transition: 0.4s;
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.item-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  grid-template-rows: repeat(2, 506px);
  gap: 40px;
  row-gap: 40px;
}
.item-card {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
}
.item-box {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
}
.item-box img {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.item-card:hover .item-box img {
  transform: scale(1);
}
.item-description {
  height: 156px;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.item-description .price {
  position: absolute;
  text-align: left;
  bottom: 20px;
}
.item-title h3 {
  text-align: left;
}
.item-title h4 {
  text-align: left;
  color: var(--text-dark, #403f3d);
}
.item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
