@import url('./login.css');

.start-page {
  text-align: center;
  width: calc(100% - 100px);
  height: 30vh;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(28, 26, 66, 0.3);
  padding: 2rem;
  border-radius: 0.5rem;
}

.start-page h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.start-page h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.start-page button,
.result button {
  margin-right: 2rem;
}

.great-greet {
  color: #fff;
  text-align: center;
}

@keyframes fio {
  from {
    color: #fff;
  }
  to {
    color: #db9cb1;
  }
}

.fio-animation {
  color: #db9cb1;
  animation-name: fio;
  animation-duration: 4s;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.modal.visible {
  display: flex;
}

.modal .result {
  background-color: #fff;
  max-width: 70rem;
  width: 100%;
  padding: 4rem;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
}

.greeting {
  font-size: 2rem;
  color: #000;
  margin-bottom: 3rem;
}

.start-button {
  border: none;
}

@keyframes button {
  from {
    background-color: #5163a2;
    height: 48px;
    font-size: 2rem;
  }
  to {
    background-color: #db9cb1;
    height: 55px;
    font-size: 2.2rem;
    font-weight: bold;
  }
}

.start-button:hover {
  height: 55px;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: #db9cb1;
  animation-name: button;
  animation-duration: 0.5s;
}
