@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1rem;
  background: url(./images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}
.no-scroll {
  overflow: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 15rem;
  border-radius: 1rem;
  padding: 5rem;
}
.gallows-part h1 {
  margin-top: 2rem;
  text-align: center;
}
.answer-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin-top: 5rem;
}
.answer-hide .letter {
  border-bottom: 0.3rem solid #000;
  width: 3rem;
  margin: 0 0 4rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.answer-hide .letter.correct {
  margin: -4rem 0 3.5rem 0;
  border: none;
}
.quiz-wrapper {
  background-color: #fff;
  display: flex;
  gap: 8rem;
  border-radius: 1rem;
  padding: 5rem;
}
.quiz-part h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.quiz-part h3 b {
  font-weight: 700;
}
.guess-part b {
  color: red;
}
.virtual-keyboard {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 4rem 0 0 0;
}
.virtual-keyboard button {
  color: #fff;
  background-color: #1f558b;
  text-transform: uppercase;
  width: calc(100% / 10 - 0.5rem);
  border-radius: 0.5rem;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  border: none;
}
.virtual-keyboard button:hover {
  background-color: #4d79a5;
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.modal .result {
  background-color: #fff;
  max-width: 42rem;
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
}
.modal img {
  max-width: 13rem;
  margin-bottom: 5rem;
}
.modal h3 {
  font-size: 2rem;
}
.modal p {
  font-size: 1.5rem;
  margin: 2rem 0 4rem;
  font-weight: 500;
}
.modal p b {
  color: #1f558b;
  font-weight: 700;
}
.modal .retry {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #1f558b;
  text-transform: uppercase;
  border-radius: 0.5rem;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
  border: none;
}
.modal .retry:hover {
  background-color: #4d79a5;
  cursor: pointer;
}
