* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: auto;
  text-align: center;
  align-items: center;
}

.container {
  margin: auto;
  text-align: center;
  align-items: center;
}

.game {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid black;
  user-select: none;
  margin: auto;
}

td,
th {
  width: 3rem;
  height: 3rem;
  padding: 4px;
  line-height: 1.5;
  white-space: nowrap;
  vertical-align: bottom;
}

td:nth-child(5n + 1),
th:nth-child(5n + 1) {
  border-right: 3px solid black;
}

tr {
  text-align: right;
}

tr:nth-child(5n + 1) {
  td,
  th {
    border-bottom: 3px solid black;
  }
}

th {
  background-color: #999;
}

.cell {
  border-top: 1px dotted #aaa;
  border-left: 1px dotted #aaa;
}
.cell:hover {
  opacity: 0.8;
  background-color: #f3f3f3;
}
