@media (min-width: 1441px) {
  body {
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    gap: 10rem;
  }
}
@media (max-width: 1110px) {
  .wrapper {
    gap: 5rem;
  }
  .quiz-wrapper {
    padding: 2rem;
  }
  .answer-hide {
    margin-top: 3rem;
  }
}
@media (max-width: 992px) {
  .wrapper {
    gap: 3rem;
    padding: 2rem;
    margin-top: 100px;
  }
  .gallows-part img {
    width: 320px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    margin-top: 0;
    flex-direction: column-reverse;
    padding: 30px 15px;
    align-items: center;
  }
  .gallows-part img {
    max-width: 200px;
  }
  .quiz-part h3 {
    font-size: 1.7rem;
  }
  .answer-hide .letter {
    margin-bottom: 35px;
    font-size: 1.7rem;
  }
  .answer-hide .letter.correct {
    margin: -35px 0 25px;
  }
  .modal img {
    max-width: 120px;
  }
  .modal h3 {
    font-size: 1.5rem;
  }
  .modal p {
    font-size: 1.3rem;
  }
  .modal button {
    padding: 10px 18px;
  }
  .no-scroll {
    overflow: auto;
  }
}
